body, html {
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
}

.home-page {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.loader, .loader2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    background: black;
    top: 0;
    left: 0;
}

.loader img {
    width: 1400px;
    height: 1400px;
    object-fit: cover;
    animation: spin .85s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader2 img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    animation: scale 1s infinite linear;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(3);
    }
    70% {
        transform: scale(3);
    }
    100% {
        transform: scale(0);
    }
}
