body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.loader img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    animation: spin_with_pulse .85s infinite linear;
}

@keyframes spin_with_pulse {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(0);
    }
}
